/************** Layout  ***************/
body {
  background-color: rgb(122, 120, 120);
  color: white;
  font-family: 'Merriweather', serif;
}

/* 
h2 {
  color: blue;
  font-size: 4px;
} */

h2 {
  color: red;
  font-size: 74px;
  text-transform: uppercase;
}
p {
  font-size: 40px;
}

ul {
  color: blue;
}
